<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="resources/js/main.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">zgloszeniazg</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Wyloguj się</a></li>
        </ul>
    </div>
</nav>

<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout</button>
    </form>

    <h1>Witaj <td th:text="${adminName}"></td></h1>
    <hr>
    <div class="panel-group" style="margin-top:40px">
        <div class="form-group">
            <div class="col-sm-9">
                <a href="/admin/teammemberlist" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Lista członkow drużyn</a>
                <a href="/admin" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Lista drużynowych</a>
                <a href="/admin/getFile" class="btn btn-primary"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Generuj raport</a>
                <a href="/admin/search" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Szukaj drużynowego</a>
            </div>
        </div>
    </div>
    <hr>


    <div class = "container" th:if="${not #lists.isEmpty(teamMemberlist)}">
        <br/> <br/>
        <h2>Lista członków drużyn</h2>
        Ilość: <p th:text="${memberAmount}"></p>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Miasto</th>
                <th>Ulica</th>
                <th>Telefonu</th>
                <th>Telefon druzynowego</th>
                <th>Dieta</th>
                <th>Drużynowy</th>
                <th>Drużyna</th>
                <th>Mail drużynowego</th>
                <th>Opcje</th>
            </tr>
            <tbody>
            <tr th:each="teamMember : ${teamMemberlist}" th:onclick="'javascript:rowClicked(\'' + ${teamMember.id} + '\');'">
                <td th:text="${teamMember.id}" ></td>
                <td th:text="${teamMember.firstName}"></td>
                <td th:text="${teamMember.lastName}"></td>
                <td th:text="${teamMember.homeCity}"></td>
                <td th:text="${teamMember.street}"></td>
                <td th:text="${teamMember.phoneNumber}"></td>
                <td th:text="${teamMember.teamLeaderPhone}"></td>
                <td th:text="${teamMember.mealCategory}"></td>
                <td  th:text="${teamMember.leaderName}"></td>
                <td th:text="${teamMember.teamName}"></td>
                <td th:text="${teamMember.teamLeaderEmail}"></td>
                <td colspan="2">
                    <a th:href="@{'/admin/edit/' + ${teamMember.id}}" class="btn btn-info" >Edytuj</a>
                    <a th:href="@{'/admin/delete/' + ${teamMember.id}}" class="btn btn-danger"> Usuń</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>



    <div class = "container" th:if="${not #lists.isEmpty(teamLeaderList)}">
        <br/> <br/>
        <h2>Lista drużynowych</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Mail</th>
                <th>Nazwa drużyny</th>
                <th>Numer telefonu</th>
                <th>Hufiec</th>
                <th>Rola</th>
                <th>Aktywny</th>
                <th>Opcje</th>
            </tr>
            <tbody>
            <tr th:each="teamleader : ${teamLeaderList}">
                <td th:text="${teamleader.id}"></td>
                <td th:text="${teamleader.firstName}"></td>
                <td th:text="${teamleader.lastName}"></td>
                <td> <a th:href="@{'/admin/details/' + ${teamleader.id} + '/' + ${teamleader.email} }  " th:text="${teamleader.email}"></a></td>
                <td th:text="${teamleader.teamName}"></td>
                <td th:text="${teamleader.phonenumber}"></td>
                <td th:text="${teamleader.troops}"></td>
                <td th:text="${teamleader.role}"></td>
                <td th:text="${teamleader.active}"></td>
                <td colspan="2">
                    <a th:href="@{'/admin/details/' + ${teamleader.id} + '/' + ${teamleader.email}}" class="btn btn-info">Szczegóły</a>
                    <a th:href="@{'/edit/' + ${teamleader.id}}" class="btn btn-warning" >Edytuj</a>
                    <a th:href="@{'/delete/' + ${teamleader.id}}" class="btn btn-danger">Usuń</a>

                </td>
            </tr>
            </tbody>

        </table>
    </div>

    <div class = "container" th:if="${not #lists.isEmpty(filterList)}">
        <br/> <br/>
        <h2>Lista drużynowych</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Mail</th>
                <th>Nazwa drużyny</th>
                <th>Numer telefonu</th>
                <th>Hufiec</th>
                <th>Rola</th>
                <th>Aktywny</th>
                <th>Opcje</th>
            </tr>
            <tbody>
            <tr th:each="teamleader : ${filterList}">
                <td th:text="${teamleader.id}"></td>
                <td th:text="${teamleader.firstName}"></td>
                <td th:text="${teamleader.lastName}"></td>
                <td> <a th:href="@{'/admin/details/' + ${teamleader.id} + '/' + ${teamleader.email} }  " th:text="${teamleader.email}"></a></td>
                <td th:text="${teamleader.teamName}"></td>
                <td th:text="${teamleader.phonenumber}"></td>
                <td th:text="${teamleader.troops}"></td>
                <td th:text="${teamleader.role}"></td>
                <td th:text="${teamleader.active}"></td>
                <td colspan="2">
                    <a th:href="@{'/admin/details/' + ${teamleader.id} + '/' + ${teamleader.email}}" class="btn btn-info">Szczegóły</a>
                    <a th:href="@{'/edit/' + ${teamleader.id}}" class="btn btn-warning" >Edytuj</a>
                    <a th:href="@{'/delete/' + ${teamleader.id}}" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>
</body>
</html>