<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>

<body>
<div class="container">
    <form th:action="@{/login}" method="POST" class="form-signin">

        <br/>
        <div class="col-xs-6 col-lg-offset-3">
            <h3 class="form-signin-heading" th:text="Welcome"></h3>

            <input type="text" id="email" name="email"  th:placeholder="Email"
                   class="form-control" /> <br/>
            <input type="password"  th:placeholder="Password"
                   id="password" name="password" class="form-control" /> <br />
            <div align="center" th:if="${param.error}">
                <p style="font-size: 20; color: #FF1C19;">Niepoprawny email lub hasło</p>
            </div>
            <button class="btn btn-sm btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
        </div>
    </form>
</div>


</body>
</html>