<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zgłoszenia drużynowych</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">zgloszeniazg</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Wyloguj się</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            </br> </br> </br>
            <h2>Zgłoszenia członków drużyny</h2>
            <form autocomplete="off" action="#" th:action="@{/registerTeamMember }"
                  th:object="${teamMember}" method="post" class="form-horizontal"
                  role="form">
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{firstName}" placeholder="Imię"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{lastName}" placeholder="Naziwsko"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('homeCity')}" th:errors="*{homeCity}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{homeCity}" placeholder="Miasto"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('street')}" th:errors="*{street}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{street}"
                               placeholder="Ulica" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{phoneNumber}"
                               placeholder="Telefon" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('mealCategory')}" th:errors="*{mealCategory}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{mealCategory}"
                               placeholder="Dieta" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('teamLeaderPhone')}" th:errors="*{teamLeaderPhone}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{teamLeaderPhone}"
                               placeholder="Telefon drużynowego" class="form-control" />
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Dodaj</button>
                    </div>
                </div>
                <span th:utext="${successMessage}"></span>

                <a href="/teamleader" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back to </a>

            </form>
        </div>
    </div>
</div>

</body>
</html>