<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ZgloszeniaZG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .top-buffer { margin-top:70px; }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">zgloszeniaZG</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Zaloguj się</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Zarejestruj się
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/serviceRegistration">Służby</a></li>
                    <li><a href="/registration">Drużynowy</a></li>
                    <li><a href="#">Indywidualny</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
<div class="container">
    <div class="row top-buffer">
        <div class="col-md-6 col-md-offset-3">
            <h2>Edytuj konto</h2>
            <form autocomplete="off" action="#" th:action="@{/service/edit}"
                  th:object="${serviceStaff}" method="post" class="form-horizontal"
                  role="form">

                <div class="form-group row">
                    <div class="col-sm-9">
                        <label for="firstName">Imię</label>
                        <input type="text" th:field="*{firstName}" placeholder="Imię"
                               class="form-control" />
                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                               class="text-danger"></label>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="firstName">Naziwsko</label>
                        <input type="text" th:field="*{lastName}"
                               placeholder="Nazwisko" class="form-control" />
                        <label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                  class="text-danger"></label>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="typeService">Rodzaj służby</label>
                        <select th:field="*{typeService}" class="form-control">
                            <option th:value="program">Program</option>
                            <option th:value="recepcja">Recepcja</option>
                            <option th:value="promocja">Promocja</option>
                            <option th:value="kwaterka">Służba kwatermistrzowska</option>
                            <option th:value="HSZ">Harcerska Służba Zabezpieczenia</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="typeService">Rodzaj diety</label>
                        <select th:field="*{diet}" class="form-control">
                            <option th:value="normalna">Normalna</option>
                            <option th:value="wegetariańska">Wegetariańska</option>
                            <option th:value="bezglutenowa">Bezglutenowa</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="typeService">Hufiec</label>
                        <input type="text" th:field="*{troops}" placeholder="Hufiec"
                               class="form-control" /> <label
                            th:if="${#fields.hasErrors('troops')}" th:errors="*{troops}"
                            class="text-danger"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="typeService">Chorągiew</label>
                        <select th:field="*{ensign}" class="form-control">
                            <option th:value="Białostocka">Chorągiew Białostocka</option>
                            <option th:value="Dolnośląska">Chorągiew Dolnośląska</option>
                            <option th:value="Gdańska">Chorągiew Gdańska</option>
                            <option th:value="Kielecka">Chorągiew Kielecka</option>
                            <option th:value="Krakowska">Chorągiew Krakowska</option>
                            <option th:value="Kujawsko-Pomorska">Chorągiew Kujawsko-Pomorska</option>
                            <option th:value="Lubelska">Chorągiew Lubelska</option>
                            <option th:value="Łódzka">Chorągiew Łódzka</option>
                            <option th:value="Mazowiecka">Chorągiew Mazowiecka</option>
                            <option th:value="Opolska">Chorągiew Opolska</option>
                            <option th:value="Podkarpacka">Chorągiew Podkarpacka</option>
                            <option th:value="Stołeczna">Chorągiew Stołeczna </option>
                            <option th:value="Śląska">Chorągiew Śląska</option>
                            <option th:value="Warmińsko-Mazurska">Chorągiew Warmińsko-Mazurska</option>
                            <option th:value="Wielkopolska">Chorągiew Wielkopolska</option>
                            <option th:value="Zachodniopomorska">Chorągiew Zachodniopomorska</option>
                            <option th:value="Ziemi-Lubuskiejw">Chorągiew Ziemi Lubuskiej</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Edytuj konto</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <a th:href="@{/service/home}"  class="btn btn-success"> <i class="fa fa-arrow-circle-o-left">
                        </i>&nbsp;Powrót </a>
                    </div>
                </div>
                <div class="form-group" th:if="${successMessage != null}">
                    <div class="col-sm-9">
                        <div class="alert alert-success">
                            <strong th:utext="${successMessage}"></strong>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>