<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Służby</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="resources/js/main.js"></script>
    <link href="sticky-footer.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">zgloszeniazg</a>
        </div>
        <ul class="nav navbar-nav">

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Wyloguj się</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Witaj <td th:text="${serviceStaff.firstName}"></td></h1>
    <hr>
    <div class="panel-group" style="margin-top:40px">
        <div class="btn-group">
            <a th:href="@{/service/edit/}" class="btn btn-info" >Edytuj konto</a>
        </div>
    </div>
</div>

<div class = "container">
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Imię</th>
            <td th:text="${serviceStaff.firstName}"></td>
        </tr>
        <tr>
            <th scope="row">Nazwisko</th>
            <td th:text="${serviceStaff.lastName}"></td>
        </tr>
        <tr>
            <th scope="row">Rodzaj służby</th>
            <td th:text="${serviceStaff.typeService}"></td>
        </tr>
        <tr>
            <th scope="row">Dieta</th>
            <td th:text="${serviceStaff.diet}"></td>
        </tr>
        <tr>
            <th scope="row">email</th>
            <td th:text="${serviceStaff.email}"></td>
        </tr>
        <tr>
            <th scope="row">Hufiec</th>
            <td th:text="${serviceStaff.troops}"></td>
        </tr>
        <tr>
            <th scope="row">Chorągiew</th>
            <td th:text="${serviceStaff.ensign}"></td>
        </tr>
        <tr>
            <th scope="row">Data rejestracji</th>
            <td th:text="${serviceStaff.data}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>